body {
    background: url(VNA/background.lg.jpg);
    font-family:Arial, Helvetica, sans-serif;
}
ul#BUT_Title {
    color: #063BA4;
}
h2 {
    color:aliceblue;
}
#Bookyourtrip>div {
    font-style: italic;
}
#BUT_Title h3 {
    width: 100px;
    border: thin solid #0614AB;
}
#BUT_Title h3:hover {
    background: #DC9D34;
}
.bold {
    font-weight: bold;
}
#Logo img {
    background: #FFFFFF
}